# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
.venv/
nlp2env/
venv/

# Model/checkpoint files
*.safetensors
*.bin
*.pt
*.pth
*.ckpt
checkpoints/
models/

# OS files
.DS_Store

# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Temporary files
tmp/
temp/
